[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jose = "*"
jwt = "*"
pyjwt = "*"
python-jose = {extras = ["cryptography"], version = "*"}
alembic = "*"
pydantic = {extras = ["email"], version = "*"}
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
