fastapi==0.110.0
uvicorn[standard]==0.29.0

# Database & ORM
SQLAlchemy==2.0.28
psycopg2-binary==2.9.9

# Environment variables
python-dotenv==1.0.1

# Pydantic
pydantic==2.6.4
pydantic-settings==2.2.1

# Auth + Security
PyJWT==2.8.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# HTTP
requests==2.31.0
